html{
	text-align: center;
	margin: 50px 50px 50px 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}


header{
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin: 20px;
}

#sec1{
	width:  100%;
	margin: auto;
}

#sec2{
	border: 1px solid black;
	display: flex ;
	flex-direction: row ;
	justify-content: space-around;

}
