html{
	text-align: center;
	margin: 50px 50px 50px 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

body{
	background-color: #F0F1F1;
}

header{
	margin-left: auto;
	margin-right: auto;
}

nav{
	display: inline;
}

#sec1{
	width:  100%;
}

.column{
	width: 33.33%;
    float: left;
    margin-left: 20px;
}
.column:first-child{
	margin: 0;
}